.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

/* En tu styles.module.css */
.features {
  padding: 4rem 0;
}

.features h3 {
  margin-top: 1rem;
  font-weight: 700;
}

.features [role="img"] {
  display: inline-block;
  transition: transform 0.3s ease;
}

.features [role="img"]:hover {
  transform: scale(1.1) rotate(5deg);
}